page-interactivepi {
    .segment-md-segment .segment-button.segment-activated {
        background-color: #f79b2e;
        color: white;
        opacity: 1;
    }
    .segment-ios-segment .segment-button.segment-activated {
        background-color: #f79b2e;
        color: white;
        opacity: 1;
    }
    .segment-md .segment-button {
       
        text-transform: none;
        color: #33444a;
        background-color: #eaeaea;
        opacity: 1;
        -webkit-transition: 200ms all linear;
        transition: 200ms all linear;
        padding: 10px 6px;
        font-weight: bold;
        width: auto !important;
     
    }
    .segment-ios .segment-button {
       
        text-transform: none;
        color: #33444a;
        background-color: #eaeaea;
        opacity: 1;
        -webkit-transition: 200ms all linear;
        transition: 200ms all linear;
        padding: 10px 6px;
        font-weight: bold;
        width: auto !important;
        border:0;
    }
      ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
        margin-bottom: 10px;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }

.col{
    margin: auto !important;
}    

.col:hover{
    border-bottom:2px solid #f79b2e !important;
}
ion-row{
    margin-bottom: 20px !important;
}

ion-icon{ 
img{
    height: 100px;
    text-align: center;
}
}

}
