page-askingyou {
    ion-list-header{
            font-size: 20px !important;
            color: rgb(247, 155, 46) !important;
            font-weight: bold !important;
            text-align: left;
            margin-bottom: -5px !important;
    }
    button{
        font-weight: bold !important;
        font-size: 17px !important;
    }
    .intro{
            background-color: rgb(234, 234, 234);
                color: rgb(47, 62, 69);
                line-height: 1.2;
                text-align: left;
                font-size: small;
              }
          
}
